
div.logo {
	width: 250px;
    margin: 20vh auto 50px;
}
div.logo img {
	width: 100%;
}
.search {
	position:relative;
}
.search input{
	display: block;
	margin: auto;
	margin-bottom: 50px;
	width: 600px;
	height: 50px;
	border-radius: 35px;
	border:none;
	background:#f2f2f2;
	padding-left: 30px;
	font-size: 20px;
	color: #808080;
}
.search input::placeholder {
	color: red;
}
.search input:focus {
	outline: none;
}
.search span {
	position: absolute;
	right: calc(50% - 290px);
	top: 20px;
}
.items {
	width: 600px;
	margin: auto;
}
.items .item {
	width: 30%;
	height: 100px;
	float: left;
	margin: 1.3%;
}
.items .item:hover {
	transition: 0.1s;
	animation: fadeIn 2s ease-in;
}
@keyframes fadeIn {
	0% {
		transform: scale(1.0 , 1.0);
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}
.items .item:hover > p {
	display: block;
}
.items .item p {
	display: none;
	margin: 0;
	padding: 10px;
	max-height: 30px;
}
.items .item div {
	width: 100%;
	height: 70px;
}
/*
	1440
	1399
	1200
	768
	425
	375
	320
*/
@media only screen and (max-width: 768px){
	
}
@media only screen and (max-width: 425px){
	.search input {
		width:95%;
	}
	.items {
		width: 95%;
	}
	.search span {
		right: 2%;
	}
	.items .item {
		width: 47.3%;
	}
}