/* 
Cascading Style Sheet
Hypertext markup language
*/
div.container {
				height: 300px;
    			overflow-y: auto;
			}
			div.contain div {
				/*
					margin:both of all;
					margin:(top and bottom) (left and right);
					margin:top (left and right) bottom;
					margin:top right bottom left;
					margin-top:-10px;
					display:block; (turn to block element)
					display:none; (hide from display)
					display:inline; (turn to inline element)
					display:inline-block; (turn to inline element)
					display:inline-grid;
					display:inline-flex;
					display:grid;
					display:flex;
					position:absolute fixed relative inherit initial;
					overflow(-x , -y):auto scroll hidden;
					<img src="" alt="Baigali" width="" height="" class="" id="">
				*/
				width:calc(25% - 2px);
				float:right;
				text-align:justify;
				background:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoHjap0nFz6FMqVsv-75WTAXBrp2bmFuT29ceneLgdTRf51kuI');
				background-repeat:no-repeat;
				background-size:100%;
				height:200px;
			}
			div.contain div:hover {
				border:1px solid #b6b6b6;
				box-shadow:0px 1px 10px #b6b6b6;
			}